DEPLOY_HOST=host.example.com
DEPLOY_USER=username
DEPLOY_PASS=secretpassword
# Opcjonalnie klucz SSH zamiast hasla
# DEPLOY_KEY_PATH=C:\Users\User\.ssh\id_rsa
DEPLOY_PROTOCOL=sftp
DEPLOY_REMOTE_PATH=/public_html/
DEPLOY_PUBLIC_URL=https://example.com
